{% extends "layouts/layout_sidebar.html" %}

{% block title %}
    Web site name
{% endblock %}

{% block main %}
    <!-- Block to invite the user to choose some area -->
    <div>
        <p>Choose one of the following</p>
    </div>
    <!-- Block with some thematic buttons anchoring to other pages -->
    <div>
        <div class="ports">
            <button class="btn btn-dark my-button"><a href="/tecnologies">Tecnologies</a></button>
            <button class="btn btn-dark my-button"><a href="/clothes">Clothes</a></button>
            <button class="btn btn-dark my-button alert-button"><a href="">#</a></button>
        </div>
        <div class="ports">
            <button class="btn btn-dark my-button alert-button"><a href="">#</a></button>
            <button class="btn btn-dark my-button alert-button"><a href="">#</a></button>
            <button class="btn btn-dark my-button alert-button"><a href="">#</a></button>
        </div>
    </div>

    <!-- This could show all the products -->
{% endblock %}

{% block javascript %}
    <script src="../static/index.js"></script>
{% endblock %}