main, .ports{
    display: flex;

    align-items: center;
}
main{
    flex-direction: column;

    align-items: center;
}
main div{
    margin: 8vh 0;
}
.ports{
    gap: 8vw;
}
main div button{
    width: 200px;
    height: 60px;
}
.my-button{
    border-radius: 50px;
}
a{
    font-size: 20px;
    font-weight: 400;

    text-decoration: none;

    color: white;
}