#question{
    margin: 40vh 0;
    padding: 10px;
}
#submit-button{
    display: flex;
    margin: auto;

    width: fit-content;
    height: fit-content;
}
input[type=text]{
    padding: 2.2px;
    border: solid 0.1px gray;
    border-radius: 5px;
}
#product-button{
    padding: 10px;
    text-decoration: none;
    color: black;
    border: solid 1px rgb(3,3,3);
    border-radius: 10px;

}